<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="noticeMapper">
  	<insert id="noticeInsert" parameterType="com.naver.s3.model.board.NoticeVO">
  		insert into notice 
  		values (board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0)
  	</insert>
  	
  	<delete id="noticeDelete" parameterType="java.lang.Integer">
  		delete notice
  		where num = #{num}
  	</delete>
  	
  	<select id="noticeSelect" parameterType="java.util.Map" resultType="com.naver.s3.model.board.NoticeVO" >
  		select * from notice 
  		where num = #{num}
  	</select>
  	
  	<select id="noticeList" parameterType="com.naver.s3.util.Pager" resultType="com.naver.s3.model.board.NoticeVO">
  		select * from (select N.*, rownum R from (select * from notice 
  		<choose>
  			<when test="kind == 'kT'">
  				where title like '%'||#{search}||'%'
  			</when>
  			<when test="kind == 'kW'">
  				where writer like '%'||#{search}||'%'
  			</when>
  			<otherwise>
  				where contents like '%'||#{search}||'%'
  			</otherwise>
  		</choose>
  		order by num desc) N) 
		where R between #{startRow} and #{lastRow}  	
  	</select>
  	
  	<select id="noticeCount" parameterType="com.naver.s3.util.Pager" resultType="java.lang.Integer">
  		select count(num) from notice
  		  		<choose>
  			<when test="kind == 'kT'">
  				where title like '%'||#{search}||'%'
  			</when>
  			<when test="kind == 'kW'">
  				where writer like '%'||#{search}||'%'
  			</when>
  			<otherwise>
  				where contents like '%'||#{search}||'%'
  			</otherwise>
  		</choose>
  	</select>

  	<update id="noticeUpdate" parameterType="com.naver.s3.model.board.NoticeVO">
  		update notice set title = #{title}, contents = #{contents} 		
  		where num = #{num}
  	</update>
  	
  </mapper>